<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Static Template</title>
    {{!--
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
    --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body style="
      margin: 0;
      {{!-- font-family: 'Poppins', sans-serif; --}}
      font-family: 'Poppins', sans-serif;
      background: #ffffff;
      font-size: 14px;
    ">
    <div style="
        max-width: 680px;
        margin: 0 auto;
        padding: 45px 30px 60px;
        {{!-- background: #f4f7ff; --}}
        background-image: url(https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661497957196_595865/email-template-background-banner);
        background-repeat: no-repeat;
        background-size: 800px 452px;
        background-position: top center;
        font-size: 14px;
        color: #434343;
      ">
        <header>
            <table style="width: 100%;">
                <tbody>
                    <tr style="height: 0;">
                        <td>
                            <h1 style="color: #ffffff;">Insure Area</h1>
                            {{!-- <img alt=""
                                src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1663574980688_114990/archisketch-logo"
                                height="30px" /> --}}
                        </td>
                        {{!-- <td style="text-align: right; vertical-align: middle">
                            <span style="font-size: 16px; line-height: 30px; color: #000000;">{{data.date}}</span>
                        </td> --}}
                    </tr>
                </tbody>
            </table>
        </header>

        <main>
            <div style="
            margin: 0;
            margin-top: 0px;
            padding: 32px 30px 20px;
            background: #f4f7ff;
            border-radius: 30px;
            text-align: center;
          ">
                <div style="width: 100%; max-width: 489px; margin: 0 auto;">
                    <h1 style="
                margin: 0;
                font-size: 24px;
                font-weight: 500;
                color: #1f1f1f;
              ">
                        Congratulations!
                    </h1>
                    <p style="
                margin: 0;
                margin-top: 17px;
                font-size: 16px;
                font-weight: 500;
              ">
                        Dear <span style="color : #2683c9"> {{data.name}} </span>,
                    </p>
                    <p style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                letter-spacing: 0.56px;
              ">
                        Congratulations on purchasing your insurance policy through
                        <span style="color : #2683c9">
                            Insure Area
                        </span>! We're excited to have
                        you on board and want to ensure you have all the necessary details regarding your policy.
                    </p>

                    <p style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;

                ">
                        Here are the details of your policy:
                    </p>

                    <li style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                list-style-type: none;
                text-align: left;
                ">
                        <ul style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                list-style-type: none;
                text-align: left;
                ">
                            <li style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                list-style-type: none;
                text-align: left;
                ">
                                <span style="color : #2683c9"> Policy Number: </span> *************{{data.policyNumber}}
                            </li>
                            <li style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                list-style-type: none;
                text-align: left;
                ">
                                <span style="color : #2683c9"> Policy Type: </span> {{data.policyType}}
                            </li>
                            <li style="
                margin: 0;
                margin-top: 17px;   
                font-weight: 500;
                list-style-type: none;
                text-align: left;
                ">
                                <span style="color : #2683c9"> Policy Start Date: </span> {{data.company}}
                            </li>


                            <p style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                ">
                                To view the complete details of your policy, please click on the following link:

                                <br>
                                {{!-- button --}}

                            <p style="
                margin: 0;
                margin-top: 17px;
                font-weight: 500;
                ">
                                <a href="{{data.link}}" style="
                display: inline-block;
                margin: 0;
                margin-top: 17px;
                padding: 12px 24px;
                background: #2683c9;
                color: #ffffff;
                font-size: 16px;
                font-weight: 500;
                border-radius: 30px;
                text-decoration: none;
                ">
                                    View Policy
                                </a>
                            </p>
                            </p>

                            <br>
                </div>
            </div>


            <p style="
            max-width: 400px;
            margin: 0 auto;
            margin-top: 20px;
            text-align: center;
            font-weight: 500;
            color: #8c8c8c;
          ">
                Need help? Ask at
                <a href="mailto:galaxyinsurance2008@gmail.com"
                    style="color: #2683c9; text-decoration: none;">galaxyinsurance2008@gmail.com</a>

                {{!-- <a href="" target="_blank" style="color: #499fb6; text-decoration: none;">Help Center</a> --}}
            </p>
        </main>

        <footer style="
          width: 100%;
          max-width: 490px;
          margin: 20px auto 0;
          text-align: center;
          border-top: 1px solid #e6ebf1;
        ">
            <p style="
            margin: 0;
            margin-top: 40px;
            font-size: 16px;
            font-weight: 600;
            color: #2683c9;
          ">
                Insure Area
            </p>
            <p style="margin: 0; margin-top: 8px; color: #434343;">
                Surat, Gujarat, India
            </p>
            {{!-- <div style="margin: 0; margin-top: 16px;">
                <a href="" target="_blank" style="display: inline-block;">
                    <img width="36px" alt="Facebook"
                        src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661502815169_682499/email-template-icon-facebook" />
                </a>
                <a href="" target="_blank" style="display: inline-block; margin-left: 8px;">
                    <img width="36px" alt="Instagram"
                        src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661504218208_684135/email-template-icon-instagram" /></a>
                <a href="" target="_blank" style="display: inline-block; margin-left: 8px;">
                    <img width="36px" alt="Twitter"
                        src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661503043040_372004/email-template-icon-twitter" />
                </a>
                <a href="" target="_blank" style="display: inline-block; margin-left: 8px;">
                    <img width="36px" alt="Youtube"
                        src="https://archisketch-resources.s3.ap-northeast-2.amazonaws.com/vrstyler/1661503195931_210869/email-template-icon-youtube" /></a>
            </div> --}}
            <p style="margin: 0; margin-top: 16px; color: #434343;">
                Copyright © 2024 Company. All rights reserved.
            </p>
        </footer>
    </div>
</body>

</html>